
	<link rel='stylesheet' id='elementor-post-672-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-6725c42.css?ver=1745655201' media='all' />
	
<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-672 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-672">
	
	<div data-elementor-type="wp-post" data-elementor-id="672" class="elementor elementor-672">
		<div class="elementor-element elementor-element-e47acb1 e-flex e-con-boxed e-con e-parent" data-id="e47acb1"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-6b2dc7f elementor-widget elementor-widget-heading"
					data-id="6b2dc7f" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Service Detail</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-aa653c4 elementor-widget elementor-widget-text-editor"
					data-id="aa653c4" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Service Detail</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-256900c e-flex e-con-boxed e-con e-parent" data-id="256900c"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-a499da4 e-con-full e-flex e-con e-child"
					data-id="a499da4" data-element_type="container">
					<div class="elementor-element elementor-element-111b8cc elementor-widget elementor-widget-image"
						data-id="111b8cc" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img fetchpriority="high" decoding="async" width="1920" height="1280"
								src="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
								class="attachment-full size-full wp-image-383" alt=""
								srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-800x533.jpg 800w"
								sizes="(max-width: 1920px) 100vw, 1920px" />
						</div>
					</div>
					<div class="elementor-element elementor-element-255632a elementor-widget elementor-widget-heading"
						data-id="255632a" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Resque Operations</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-c0d4ba7 elementor-widget elementor-widget-text-editor"
						data-id="c0d4ba7" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Donec a est nisi. Quisque hendrerit ex tellus, pharetra tincidunt ante venenatis nec.
								Donec malesuada mi eu elit tristique tincidunt. Vestibulum id massa orci. Quisque ac
								turpis vitae neque posuere feugiat. Nunc laoreet felis at nulla egestas pulvinar.
								Aliquam cursus consectetur nunc. Pellentesque quis risus luctus lectus fringilla tempor
								eu ut dolor. Maecenas venenatis ipsum vestibulum, sagittis nisl sit amet, euismod urna.
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-cfc1165 e-con-full e-flex e-con e-child"
						data-id="cfc1165" data-element_type="container">
						<div class="elementor-element elementor-element-e68ce3d e-con-full e-flex e-con e-child"
							data-id="e68ce3d" data-element_type="container">
							<div class="elementor-element elementor-element-97dc8e4 elementor-widget elementor-widget-heading"
								data-id="97dc8e4" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">Why Choose Us:</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-1916378 elementor-widget elementor-widget-text-editor"
								data-id="1916378" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
										nec ullamcorper mattis, pulvinar dapibus leo.</p>
								</div>
							</div>
							<div class="elementor-element elementor-element-e8b3fcc elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="e8b3fcc" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items">
										<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
												<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
													viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
													</path>
												</svg> </span>
											<span class="elementor-icon-list-text">Advance Training</span>
										</li>
										<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
												<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
													viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
													</path>
												</svg> </span>
											<span class="elementor-icon-list-text">Modern Equipment</span>
										</li>
										<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
												<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
													viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
													</path>
												</svg> </span>
											<span class="elementor-icon-list-text">Swift Response</span>
										</li>
										<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
												<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
													viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
													</path>
												</svg> </span>
											<span class="elementor-icon-list-text">Community Commitments</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-613ea0f e-con-full e-flex e-con e-child"
							data-id="613ea0f" data-element_type="container">
							<div class="elementor-element elementor-element-2eee86a elementor-widget elementor-widget-image"
								data-id="2eee86a" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/QNMVDZY.jpg"
										class="attachment-full size-full wp-image-372" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNMVDZY-800x533.jpg 800w"
										sizes="(max-width: 1920px) 100vw, 1920px" />
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-0c3af4a elementor-widget elementor-widget-heading"
						data-id="0c3af4a" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">General Questions</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-12b09ac elementor-widget elementor-widget-text-editor"
						data-id="12b09ac" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Nullam vitae felis malesuada, egestas massa tempus, ullamcorper libero. Maecenas
								ullamcorper sem vel suscipit tristique. Morbi ac commodo quam. Vestibulum ante ipsum
								primis in faucibus orci luctus.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-eab0c86 elementor-widget elementor-widget-elementskit-accordion"
						data-id="eab0c86" data-element_type="widget" data-widget_type="elementskit-accordion.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-accordion accoedion-primary" id="accordion-682655171ee37">


									<div class="elementskit-card active">
										<div class="elementskit-card-header" id="primaryHeading-0-eab0c86">
											<a href="#collapse-9bbff23682655171ee37"
												class="ekit-accordion--toggler elementskit-btn-link collapsed"
												data-ekit-toggle="collapse" data-target="#Collapse-9bbff23682655171ee37"
												aria-expanded="true" aria-controls="Collapse-9bbff23682655171ee37">

												<span class="ekit-accordion-title">What services does the fire
													department provide?</span>


												<div class="ekit_accordion_icon_group">
													<div class="ekit_accordion_normal_icon">
														<!-- Normal Icon -->
														<i class="icon icon-down-arrow1"></i>
													</div>

													<div class="ekit_accordion_active_icon">
														<!-- Active Icon -->
														<i class="icon icon-up-arrow"></i>
													</div>
												</div>


											</a>
										</div>

										<div id="Collapse-9bbff23682655171ee37" class=" show collapse"
											aria-labelledby="primaryHeading-0-eab0c86"
											data-parent="#accordion-682655171ee37">

											<div class="elementskit-card-body ekit-accordion--content">
												<p>Far far away, behind the word mountains, far from the countries
													Vokalia and Consonantia, there live the blind texts. Separated they
													live in Bookmarksgrove right at the coast</p>
											</div>

										</div>

									</div><!-- .elementskit-card END -->


									<div class="elementskit-card ">
										<div class="elementskit-card-header" id="primaryHeading-1-eab0c86">
											<a href="#collapse-2c656ab682655171ee37"
												class="ekit-accordion--toggler elementskit-btn-link collapsed"
												data-ekit-toggle="collapse" data-target="#Collapse-2c656ab682655171ee37"
												aria-expanded="false" aria-controls="Collapse-2c656ab682655171ee37">

												<span class="ekit-accordion-title">How do I report a fire
													emergency?</span>


												<div class="ekit_accordion_icon_group">
													<div class="ekit_accordion_normal_icon">
														<!-- Normal Icon -->
														<i class="icon icon-down-arrow1"></i>
													</div>

													<div class="ekit_accordion_active_icon">
														<!-- Active Icon -->
														<i class="icon icon-up-arrow"></i>
													</div>
												</div>


											</a>
										</div>

										<div id="Collapse-2c656ab682655171ee37" class=" collapse"
											aria-labelledby="primaryHeading-1-eab0c86"
											data-parent="#accordion-682655171ee37">

											<div class="elementskit-card-body ekit-accordion--content">
												<p>Far far away, behind the word mountains, far from the countries
													Vokalia and Consonantia, there live the blind texts. Separated they
													live in Bookmarksgrove right at the coast</p>
											</div>

										</div>

									</div><!-- .elementskit-card END -->


									<div class="elementskit-card ">
										<div class="elementskit-card-header" id="primaryHeading-2-eab0c86">
											<a href="#collapse-cdd4f0f682655171ee37"
												class="ekit-accordion--toggler elementskit-btn-link collapsed"
												data-ekit-toggle="collapse" data-target="#Collapse-cdd4f0f682655171ee37"
												aria-expanded="false" aria-controls="Collapse-cdd4f0f682655171ee37">

												<span class="ekit-accordion-title">What equipment do firefighters use
													during rescues?</span>


												<div class="ekit_accordion_icon_group">
													<div class="ekit_accordion_normal_icon">
														<!-- Normal Icon -->
														<i class="icon icon-down-arrow1"></i>
													</div>

													<div class="ekit_accordion_active_icon">
														<!-- Active Icon -->
														<i class="icon icon-up-arrow"></i>
													</div>
												</div>


											</a>
										</div>

										<div id="Collapse-cdd4f0f682655171ee37" class=" collapse"
											aria-labelledby="primaryHeading-2-eab0c86"
											data-parent="#accordion-682655171ee37">

											<div class="elementskit-card-body ekit-accordion--content">
												<p>Far far away, behind the word mountains, far from the countries
													Vokalia and Consonantia, there live the blind texts. Separated they
													live in Bookmarksgrove right at the coast</p>
											</div>

										</div>

									</div><!-- .elementskit-card END -->


									<div class="elementskit-card ">
										<div class="elementskit-card-header" id="primaryHeading-3-eab0c86">
											<a href="#collapse-623c024682655171ee37"
												class="ekit-accordion--toggler elementskit-btn-link collapsed"
												data-ekit-toggle="collapse" data-target="#Collapse-623c024682655171ee37"
												aria-expanded="false" aria-controls="Collapse-623c024682655171ee37">

												<span class="ekit-accordion-title">How can I prevent fires in my
													home?</span>


												<div class="ekit_accordion_icon_group">
													<div class="ekit_accordion_normal_icon">
														<!-- Normal Icon -->
														<i class="icon icon-down-arrow1"></i>
													</div>

													<div class="ekit_accordion_active_icon">
														<!-- Active Icon -->
														<i class="icon icon-up-arrow"></i>
													</div>
												</div>


											</a>
										</div>

										<div id="Collapse-623c024682655171ee37" class=" collapse"
											aria-labelledby="primaryHeading-3-eab0c86"
											data-parent="#accordion-682655171ee37">

											<div class="elementskit-card-body ekit-accordion--content">
												<p>Far far away, behind the word mountains, far from the countries
													Vokalia and Consonantia, there live the blind texts. Separated they
													live in Bookmarksgrove right at the coast</p>
											</div>

										</div>

									</div><!-- .elementskit-card END -->

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-c9e517a e-con-full e-flex e-con e-child"
					data-id="c9e517a" data-element_type="container">
					<div class="elementor-element elementor-element-f27ec28 e-con-full e-flex e-con e-child"
						data-id="f27ec28" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-element elementor-element-82bc40b elementor-widget elementor-widget-heading"
							data-id="82bc40b" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h4 class="elementor-heading-title elementor-size-default">More Services</h4>
							</div>
						</div>
						<div class="elementor-element elementor-element-bd32a2c e-con-full e-flex e-con e-child"
							data-id="bd32a2c" data-element_type="container">
							<div class="elementor-element elementor-element-b529732 elementor-align-justify elementor-widget elementor-widget-button"
								data-id="b529732" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Fire Control</span>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-481fceb elementor-align-justify elementor-widget elementor-widget-button"
								data-id="481fceb" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Safety Education</span>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-206b6d0 elementor-align-justify elementor-widget elementor-widget-button"
								data-id="206b6d0" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Search and Rescue</span>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-11f2c3d elementor-align-justify elementor-widget elementor-widget-button"
								data-id="11f2c3d" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Hazardous Response</span>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6c29d57 elementor-align-justify elementor-widget elementor-widget-button"
								data-id="6c29d57" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Disasterband Recovery</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-c651fd2 e-con-full e-flex e-con e-child"
						data-id="c651fd2" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-element elementor-element-f61d9cf elementor-widget elementor-widget-heading"
							data-id="f61d9cf" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h4 class="elementor-heading-title elementor-size-default">Swift Response</h4>
							</div>
						</div>
						<div class="elementor-element elementor-element-bd3b386 elementor-widget elementor-widget-heading"
							data-id="bd3b386" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h3 class="elementor-heading-title elementor-size-default"><a
										href="#">+800-3374-4676</a></h3>
							</div>
						</div>
						<div class="elementor-element elementor-element-fde7bd6 elementor-widget elementor-widget-heading"
							data-id="fde7bd6" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">Anytime anywhere</h5>
							</div>
						</div>
						<div class="elementor-element elementor-element-fb54e77 elementor-align-center elementor-widget elementor-widget-button"
							data-id="fb54e77" data-element_type="widget" data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
										<span class="elementor-button-content-wrapper">
											<span class="elementor-button-text">or Contact Us</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-06dbb24 e-flex e-con-boxed e-con e-parent" data-id="06dbb24"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-d50d5fc elementor-widget elementor-widget-heading"
					data-id="d50d5fc" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Join Us in Saving Lives!</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-b10774c elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="b10774c" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Quisque ac turpis vitae neque posuere feugiat. Nunc laoreet felis at nulla egestas pulvinar.
							Aliquam cursus consectetur nunc. Pellentesque quis risus luctus lectus fringilla tempor eu
							ut dolor.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-69d2961 elementor-align-center elementor-widget elementor-widget-button"
					data-id="69d2961" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Become a Firefighter</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>

