
	<link rel='stylesheet' id='elementor-post-749-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-7499d60.css?ver=1745655198' media='all' />
	

<body
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-749 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-749">

	<div data-elementor-type="wp-post" data-elementor-id="749" class="elementor elementor-749">
		<div class="elementor-element elementor-element-8748c74 e-flex e-con-boxed e-con e-parent" data-id="8748c74"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-bf20f7d elementor-widget elementor-widget-heading"
					data-id="bf20f7d" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Gallery</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-1678565 elementor-widget elementor-widget-text-editor"
					data-id="1678565" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Gallery</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-ed643e7 e-flex e-con-boxed e-con e-parent" data-id="ed643e7"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-db064aa elementor-widget elementor-widget-heading"
					data-id="db064aa" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Heroic Moments</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-4d4c4bc elementor-widget__width-initial elementor-widget elementor-widget-heading"
					data-id="4d4c4bc" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Firefighter Highlights.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-d6d127d elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="d6d127d" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Praesent malesuada odio lorem, in mollis odio blandit at. Etiam scelerisque pharetra commodo.
							Mauris in nunc vel mi ornare aliquam ac in sapien. Vestibulum ac urna lacus.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-2cc95b6 e-con-full e-flex e-con e-child"
					data-id="2cc95b6" data-element_type="container">
					<div class="elementor-element elementor-element-a8333d9 e-con-full e-flex e-con e-child"
						data-id="a8333d9" data-element_type="container">
						<div class="elementor-element elementor-element-9ac9ffd elementor-widget elementor-widget-image"
							data-id="9ac9ffd" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="CUV7FDX"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MzgzLCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcL0NVVjdGRFguanBnIn0%3D">
									<img fetchpriority="high" decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
										class="attachment-full size-full wp-image-383" alt=""
										 /> </a>
							</div>
						</div>
						<div class="elementor-element elementor-element-ecb4efa elementor-widget elementor-widget-image"
							data-id="ecb4efa" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/89ZL7Q2.jpg"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="89ZL7Q2"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzc1LCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcLzg5Wkw3UTIuanBnIn0%3D">
									<img decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/89ZL7Q2.jpg"
										class="attachment-full size-full wp-image-375" alt=""
										
										sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-0466485 e-con-full e-flex e-con e-child"
						data-id="0466485" data-element_type="container">
						<div class="elementor-element elementor-element-7bf4635 elementor-widget elementor-widget-image"
							data-id="7bf4635" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/3BT37ES.png"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="3BT37ES"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjAsInVybCI6Imh0dHBzOlwvXC9hc2tpdC5kZXh0aGVtZS5uZXRcL2ZpcmVndWFyZFwvd3AtY29udGVudFwvdXBsb2Fkc1wvc2l0ZXNcLzMwXC8yMDI1XC8wMVwvM0JUMzdFUy5qcGcifQ%3D%3D">
									<img loading="lazy" decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/3BT37ES.png"
										class="attachment-full size-full wp-image-20" alt=""
										
										sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
							</div>
						</div>
						<div class="elementor-element elementor-element-18547dd e-con-full e-flex e-con e-child"
							data-id="18547dd" data-element_type="container">
							<div class="elementor-element elementor-element-7a28663 e-con-full e-flex e-con e-child"
								data-id="7a28663" data-element_type="container">
								<div class="elementor-element elementor-element-0d026a6 elementor-widget elementor-widget-image"
									data-id="0d026a6" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="QNXL294"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjUwLCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcL1FOWEwyOTQuanBnIn0%3D">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
												class="attachment-full size-full wp-image-250" alt=""
												
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
								<div class="elementor-element elementor-element-98f61b2 elementor-widget elementor-widget-image"
									data-id="98f61b2" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/ZQR5V2Z.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="ZQR5V2Z"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NywidXJsIjoiaHR0cHM6XC9cL2Fza2l0LmRleHRoZW1lLm5ldFwvZmlyZWd1YXJkXC93cC1jb250ZW50XC91cGxvYWRzXC9zaXRlc1wvMzBcLzIwMjVcLzAxXC9aUVI1VjJaLmpwZyJ9">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/ZQR5V2Z.jpg"
												class="attachment-full size-full wp-image-7" alt=""
												
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-eb729ea e-con-full e-flex e-con e-child"
								data-id="eb729ea" data-element_type="container">
								<div class="elementor-element elementor-element-83751f7 elementor-widget elementor-widget-image"
									data-id="83751f7" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/2QFH4XN.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="2QFH4XN"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MzY5LCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcLzJRRkg0WE4uanBnIn0%3D">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/2QFH4XN.jpg"
												class="attachment-full size-full wp-image-369" alt=""
												
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	
</body>

