
	<link rel='stylesheet' id='elementor-post-629-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-629f5c3.css?ver=1745611955' media='all' />
	

<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-629 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-629">
	
	<div data-elementor-type="wp-post" data-elementor-id="629" class="elementor elementor-629">
		<div class="elementor-element elementor-element-dade417 e-flex e-con-boxed e-con e-parent" data-id="dade417"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-15ecb00 elementor-widget elementor-widget-heading"
					data-id="15ecb00" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">About Us</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-b71f68f elementor-widget elementor-widget-text-editor"
					data-id="b71f68f" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; About Us</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-8724c16 e-flex e-con-boxed e-con e-parent" data-id="8724c16"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-1a3a4d3 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
					data-id="1a3a4d3" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">About Us</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-55d32ce elementor-widget elementor-widget-heading"
					data-id="55d32ce" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Founder Message</h2>
					</div>
				</div>

<div class="elementor-element elementor-element-3d6601e e-flex e-con-boxed e-con e-parent" data-id="3d6601e"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-f299da1 e-con-full e-flex e-con e-child"
					data-id="f299da1" data-element_type="container">
					<div class="elementor-element elementor-element-e12d8e5 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
						data-id="e12d8e5" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">

						<img src="../../assets/founder.jpg" alt="Founder">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default">RAHIL ZAFAR (Founder & CEO) </h5>
						</div>
					</div>
					<div class="elementor-element elementor-element-846a772 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
						data-id="846a772" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Committed to Serve and Protect.
							</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-842b61c elementor-widget elementor-widget-text-editor"
						data-id="842b61c" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p></p>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-ad69c15 e-con-full e-flex e-con e-child"
					data-id="ad69c15" data-element_type="container">
					<div class="elementor-element elementor-element-a6f6351 e-con-full e-flex e-con e-child"
						data-id="a6f6351" data-element_type="container">
						<div class="elementor-element elementor-element-b9c3c96 animated-fast elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="b9c3c96" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img decoding="async" width="300"
											height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Message from Our Founder</h4>
										<p class="elementor-image-box-description">
											At TECHFLAME FIRE ENGINEERS, our mission is simple: to safeguard lives and property through innovative fire protection solutions. Founded with a passion for safety and a commitment to excellence, we’ve dedicated ourselves to delivering cutting-edge fire prevention, detection, and suppression systems tailored to your needs.
										</p>
									</div>
								</div>
							</div>
						</div>
				
					</div>
					<div class="elementor-element elementor-element-3254bfd e-con-full e-flex e-con e-child"
						data-id="3254bfd" data-element_type="container">
						<div class="elementor-element elementor-element-511cf20 elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="511cf20" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img decoding="async" width="300"
											height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title"></h4>
										<p class="elementor-image-box-description">With years of industry experience, we understand the critical importance of reliable protection. Our team is driven by integrity, expertise, and a relentless focus on keeping our communities safe. We don’t just provide services—we build trust, ensuring peace of mind for businesses, homes, and institutions.</p>
																			<p class="elementor-image-box-description">Thank you for choosing TECHFLAME. Together, we’re creating a safer tomorrow.</p>

									</div>
								</div>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>

				
			
			</div>
		</div>
	
	
		
	</div>

</div>

