---
import Footer from "../layout/footer.astro";
import Header from "../layout/header.astro";
---

<Header />

<style id="wp-emoji-styles-inline-css">
	img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
</style>
<link rel='stylesheet' id='elementor-post-816-css' href='../../wp-content/uploads/sites/30/elementor/css/post-8162888.css?ver=1745655199' media='all' />
<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_canvas single single-envato_tk_templates postid-816 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-canvas elementor-kit-3 elementor-page elementor-page-816"
>
	<div
		data-elementor-type="wp-post"
		data-elementor-id="816"
		class="elementor elementor-816"
	>
		<div
			class="elementor-element elementor-element-61454fa e-flex e-con-boxed e-con e-parent"
			data-id="61454fa"
			data-element_type="container"
			data-settings='{"background_background":"classic"}'
		>
			<div class="e-con-inner">
				<div
					class="elementor-element elementor-element-2962467 elementor-widget elementor-widget-heading"
					data-id="2962467"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h1
							class="elementor-heading-title elementor-size-default"
						>
							404
						</h1>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-3cb0239 elementor-widget__width-initial elementor-widget elementor-widget-heading"
					data-id="3cb0239"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h2
							class="elementor-heading-title elementor-size-default"
						>
							This Page Needs Rescuing!
						</h2>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-23aa6e5 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="23aa6e5"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p>
							We’re sorry! This page has been relocated or is no
							longer available. Let’s get you back on track.
						</p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-4cd97b4 elementor-widget elementor-widget-button"
					data-id="4cd97b4"
					data-element_type="widget"
					data-widget_type="button.default"
				>
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a
								class="elementor-button elementor-button-link elementor-size-sm"
								href="../home/index.html"
							>
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text"
										>Back to Home</span
									>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<Footer />
