---
import Header from "../layout/header.astro";
import Footer from "../layout/footer.astro";
---

<Header> </Header>





<div data-elementor-type="wp-post" data-elementor-id="5" class="elementor elementor-5">
	<div class="elementor-element elementor-element-fc8e8e5 e-flex e-con-boxed e-con e-parent" data-id="fc8e8e5"
		data-element_type="container"
		data-settings="{&quot;background_background&quot;:&quot;slideshow&quot;,&quot;background_slideshow_gallery&quot;:[
			{&quot;id&quot;:363,&quot;url&quot;:&quot; ./assets/banner/7.png&quot;},
			{&quot;id&quot;:363,&quot;url&quot;:&quot; ./assets/banner/12.png&quot;},

			{&quot;id&quot;:363,&quot;url&quot;:&quot; ./assets/banner/9.png&quot;}
			],&quot;background_slideshow_transition_duration&quot;:1500,&quot;background_slideshow_ken_burns&quot;:&quot;yes&quot;,&quot;background_slideshow_loop&quot;:&quot;yes&quot;,&quot;background_slideshow_slide_duration&quot;:5000,&quot;background_slideshow_slide_transition&quot;:&quot;fade&quot;,&quot;background_slideshow_ken_burns_zoom_direction&quot;:&quot;in&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-e66f2a6 e-con-full e-flex e-con e-child" data-id="e66f2a6"
				data-element_type="container">
				<div class="elementor-element elementor-element-18c1a9e elementor-invisible elementor-widget elementor-widget-heading"
					data-id="18c1a9e" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h1 class="elementor-heading-title elementor-size-default">Rescue, Protect, Repeat.</h1>
					</div>
				</div>
				<div class="elementor-element elementor-element-f3bb54f elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor"
					data-id="f3bb54f" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
					data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>We specialize in fire protection solutions for commercial and industrial spaces, offering
							fire alarms, suppression systems, and safety audits. Our mission is to keep your business
							safe, compliant, and prepared—always.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-8567453 animated-fast elementor-invisible elementor-widget elementor-widget-button"
					data-id="8567453" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="#"
								target="_blank">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Broucher</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- second section  -->
	<div class="elementor-element elementor-element-d60fa38 e-flex e-con-boxed e-con e-parent" data-id="d60fa38"
		data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-344fcb6 e-con-full e-flex e-con e-child" data-id="344fcb6"
				data-element_type="container">
				<div class="elementor-element elementor-element-602a69a elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
					data-id="602a69a" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">Protecting Life, Fighting Flame.
						</h3>
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-76a0c2c e-con-full e-flex e-con e-child" data-id="76a0c2c"
				data-element_type="container">
				<div class="elementor-element elementor-element-826547d e-con-full e-flex e-con e-child"
					data-id="826547d" data-element_type="container">
					<div class="elementor-element elementor-element-c7708bc elementor-position-top elementor-widget elementor-widget-image-box"
						data-id="c7708bc" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
										width="300" height="300"
										src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
										class="attachment-full size-full wp-image-63" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px" /></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Emergency Response</h4>
									<p class="elementor-image-box-description">We handle fires, accidents, and
										medical crises with speed and expertise.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-c604457 e-con-full animated-fast e-flex elementor-invisible e-con e-child"
						data-id="c604457" data-element_type="container"
						data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-195e80c elementor-widget elementor-widget-counter"
							data-id="195e80c" data-element_type="widget" data-widget_type="counter.default">
							<div class="elementor-widget-container">
								<div class="elementor-counter">
									<div class="elementor-counter-number-wrapper">
										<span class="elementor-counter-number-prefix"></span>
										<span class="elementor-counter-number" data-duration="2000" data-to-value="47"
											data-from-value="0" data-delimiter=",">0</span>
										<span class="elementor-counter-number-suffix">k+</span>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-c81cf2a elementor-widget elementor-widget-heading"
							data-id="c81cf2a" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">Rescue Call Each Year
								</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-c566ccc elementor-widget elementor-widget-spacer"
					data-id="c566ccc" data-element_type="widget" data-widget_type="spacer.default">
					<div class="elementor-widget-container">
						<div class="elementor-spacer">
							<div class="elementor-spacer-inner"></div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-3e04af7 e-con-full e-flex e-con e-child"
					data-id="3e04af7" data-element_type="container">
					<div class="elementor-element elementor-element-d40d1dc elementor-position-top elementor-widget elementor-widget-image-box"
						data-id="d40d1dc" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
										width="300" height="300"
										src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
										class="attachment-full size-full wp-image-63" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px" /></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Safety Education</h4>
									<p class="elementor-image-box-description">We Promoting fire prevention and
										safety through public outreach and code enforcement.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-5dfc856 e-con-full e-flex elementor-invisible e-con e-child"
						data-id="5dfc856" data-element_type="container"
						data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-ca18588 elementor-widget elementor-widget-counter"
							data-id="ca18588" data-element_type="widget" data-widget_type="counter.default">
							<div class="elementor-widget-container">
								<div class="elementor-counter">
									<div class="elementor-counter-number-wrapper">
										<span class="elementor-counter-number-prefix"></span>
										<span class="elementor-counter-number" data-duration="2000" data-to-value="50"
											data-from-value="0">0</span>
										<span class="elementor-counter-number-suffix">k+</span>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-0606d12 elementor-widget elementor-widget-heading"
							data-id="0606d12" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">School Received Fire
									Safety Training</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-531cc4d elementor-widget elementor-widget-spacer"
					data-id="531cc4d" data-element_type="widget" data-widget_type="spacer.default">
					<div class="elementor-widget-container">
						<div class="elementor-spacer">
							<div class="elementor-spacer-inner"></div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-e842760 e-con-full e-flex e-con e-child"
					data-id="e842760" data-element_type="container">
					<div class="elementor-element elementor-element-aa5c703 elementor-position-top elementor-widget elementor-widget-image-box"
						data-id="aa5c703" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
										width="300" height="300"
										src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
										class="attachment-full size-full wp-image-63" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px" /></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Community Protection</h4>
									<p class="elementor-image-box-description">Preparing for disasters and
										safeguarding lives and property.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-892ead9 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						data-id="892ead9" data-element_type="container"
						data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-768454a elementor-widget elementor-widget-counter"
							data-id="768454a" data-element_type="widget" data-widget_type="counter.default">
							<div class="elementor-widget-container">
								<div class="elementor-counter">
									<div class="elementor-counter-number-wrapper">
										<span class="elementor-counter-number-prefix"></span>
										<span class="elementor-counter-number" data-duration="2000" data-to-value="30"
											data-from-value="0">0</span>
										<span class="elementor-counter-number-suffix">%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6b20232 elementor-widget elementor-widget-heading"
							data-id="6b20232" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">Risk Reduction Success
								</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-61c6638 elementor-widget elementor-widget-spacer"
					data-id="61c6638" data-element_type="widget" data-widget_type="spacer.default">
					<div class="elementor-widget-container">
						<div class="elementor-spacer">
							<div class="elementor-spacer-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- third section  -->
	<!-- <div class="elementor-element elementor-element-773859b e-flex e-con-boxed e-con e-parent" data-id="773859b"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-a80e868 elementor-widget elementor-widget-elementskit-video"
					data-id="a80e868" data-element_type="widget" data-widget_type="elementskit-video.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="video-content" data-video-player="[]"
								data-video-setting="{&quot;videoVolume&quot;:&quot;horizontal&quot;,&quot;startVolume&quot;:0.8,&quot;videoType&quot;:&quot;iframe&quot;,&quot;videoClass&quot;:&quot;mfp-fade&quot;}">

								<a class="ekit_icon_button glow-btn ekit-video-popup ekit-video-popup-btn"
									href="https://www.youtube.com/embed/VhBl3dHT5SY?feature=oembed?playlist=VhBl3dHT5SY&amp;mute=0&amp;autoplay=0&amp;loop=no&amp;controls=0&amp;start=0&amp;end="
									aria-label="video-popup">
									<i aria-hidden="true" class="icon icon-play-button"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

	<!-- fourth section (who we are ) -->
	<div class="elementor-element elementor-element-fed7f6f e-flex e-con-boxed e-con e-parent e-lazyloaded"
		data-id="fed7f6f" data-element_type="container"
		data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-4266d76 e-con-full e-flex e-con e-child" data-id="4266d76"
				data-element_type="container">
				<div class="elementor-element elementor-element-24c7825 animated-fast elementor-widget elementor-widget-heading animated slideInLeft"
					data-id="24c7825" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Who We Are</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-8e14677 elementor-widget__width-initial elementor-widget elementor-widget-heading animated fadeInLeft"
					data-id="8e14677" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Our Mission, Your Safety.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-11ca194 elementor-widget elementor-widget-text-editor"
					data-id="11ca194" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>At Techflame, our mission is to provide cutting-edge fire protection solutions that prevent
							risks before they happen. We are dedicated to safeguarding lives, properties, and
							communities with uncompromising safety standards.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-0c4ceb1 e-con-full e-flex e-con e-child"
					data-id="0c4ceb1" data-element_type="container">
					<div class="elementor-element elementor-element-190e565 e-con-full e-flex e-con e-child"
						data-id="190e565" data-element_type="container">
						<div class="elementor-element elementor-element-c600d6d elementor-widget elementor-widget-image-box"
							data-id="c600d6d" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Mission</h4>
										<p class="elementor-image-box-description">To deliver high-quality fire safety
											solutions and services that ensure maximum protection, compliance, and peace
											of mind for our clients.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-12ce42a elementor-widget elementor-widget-spacer"
						data-id="12ce42a" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-f291d74 e-con-full e-flex e-con e-child"
						data-id="f291d74" data-element_type="container">
						<div class="elementor-element elementor-element-578b20a elementor-widget elementor-widget-image-box"
							data-id="578b20a" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Vision</h4>
										<p class="elementor-image-box-description">To be the leading fire protection
											company known for innovation, reliability, and excellence in safeguarding
											lives and properties worldwide.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-fa79d5c elementor-widget elementor-widget-spacer"
						data-id="fa79d5c" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-5147bfd e-con-full e-flex e-con e-child"
					data-id="5147bfd" data-element_type="container">
					<div class="elementor-element elementor-element-cc9c5a2 e-con-full e-flex e-con e-child"
						data-id="cc9c5a2" data-element_type="container">
						<div class="elementor-element elementor-element-01b2beb e-con-full animated-fast e-flex e-con e-child animated slideInUp"
							data-id="01b2beb" data-element_type="container"
							data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
							<div class="elementor-element elementor-element-39ea5e6 elementor-widget elementor-widget-heading"
								data-id="39ea5e6" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">Serving the community
										for</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-eea03b0 e-con-full e-flex e-con e-child"
								data-id="eea03b0" data-element_type="container">
								<div class="elementor-element elementor-element-cf44c95 elementor-widget elementor-widget-counter"
									data-id="cf44c95" data-element_type="widget" data-widget_type="counter.default">
									<div class="elementor-widget-container">
										<div class="elementor-counter">
											<div class="elementor-counter-number-wrapper"> <span
													class="elementor-counter-number-prefix"></span> <span
													class="elementor-counter-number" data-duration="2000"
													data-to-value="10" data-from-value="0" data-delimiter=",">10</span>
												<span class="elementor-counter-number-suffix">+</span>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-a5c0f4e elementor-widget elementor-widget-heading"
									data-id="a5c0f4e" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Years.</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-7e46888 e-con-full e-flex e-con e-child"
						data-id="7e46888" data-element_type="container">
						<div class="elementor-element elementor-element-958433f elementor-widget elementor-widget-text-editor"
							data-id="958433f" data-element_type="widget" data-widget_type="text-editor.default">
							<div class="elementor-widget-container">
								<p>Serving the community for over 10 years, Techflame has been a trusted name in fire
									protection. Our experience and dedication have helped countless homes and businesses
									stay safe and secure.</p>
							</div>
						</div>
						<div class="elementor-element elementor-element-3492af9 elementor-widget elementor-widget-button"
							data-id="3492af9" data-element_type="widget" data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper"> <a
										class="elementor-button elementor-button-link elementor-size-sm"
										href="/about-us"> <span class="elementor-button-content-wrapper"> <span
												class="elementor-button-text">Read More</span> </span> </a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-f5d2ae2 e-con-full e-flex e-con e-child" data-id="f5d2ae2"
				data-element_type="container">
				<div class="elementor-element elementor-element-e1c9881 elementor-position-left animated-fast elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInLeft"
					data-id="e1c9881" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
					data-widget_type="image-box.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper">
							<figure class="elementor-image-box-img"><img decoding="async" width="300" height="300"
									src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a2.png"
									class="attachment-full size-full wp-image-426" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a2.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a2-150x150.png 150w"
									sizes="(max-width: 300px) 100vw, 300px"></figure>
							<div class="elementor-image-box-content">
								<h4 class="elementor-image-box-title">Bravery &amp; Courage</h4>
								<p class="elementor-image-box-description">At Techflame, we face every challenge with
									bravery and courage, ensuring we protect what matters most even in the toughest
									situations.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-7043255 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInLeft"
					data-id="7043255" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
					data-widget_type="image-box.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper">
							<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
									height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5b1.png"
									class="attachment-full size-full wp-image-430" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5b1.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5b1-150x150.png 150w"
									sizes="(max-width: 300px) 100vw, 300px"></figure>
							<div class="elementor-image-box-content">
								<h4 class="elementor-image-box-title">Honesty &amp; Integrity</h4>
								<p class="elementor-image-box-description">We build trust through honesty and integrity,
									always delivering transparent and reliable fire safety solutions to our clients.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-abab068 elementor-position-left animated-slow elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInLeft"
					data-id="abab068" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
					data-widget_type="image-box.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper">
							<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
									height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5c1.png"
									class="attachment-full size-full wp-image-431" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5c1.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5c1-150x150.png 150w"
									sizes="(max-width: 300px) 100vw, 300px"></figure>
							<div class="elementor-image-box-content">
								<h4 class="elementor-image-box-title">Selfless Service</h4>
								<p class="elementor-image-box-description">Our commitment to selfless service drives us
									to put your safety above all else, going the extra mile to protect lives and
									property.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-6dca0f8 elementor-position-left animated-slow elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInLeft"
					data-id="6dca0f8" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:400}"
					data-widget_type="image-box.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper">
							<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
									height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5d1.png"
									class="attachment-full size-full wp-image-432" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5d1.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5d1-150x150.png 150w"
									sizes="(max-width: 300px) 100vw, 300px"></figure>
							<div class="elementor-image-box-content">
								<h4 class="elementor-image-box-title">Collaborative Teamwork</h4>
								<p class="elementor-image-box-description">Together, as a unified team, we combine
									expertise and dedication to create the most effective fire protection systems and
									services.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Fifth section  -->
	<div class="elementor-element elementor-element-c49dd09 e-flex e-con-boxed e-con e-parent" data-id="c49dd09"
		data-element_type="container">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-0e03fc0 elementor-widget elementor-widget-image-carousel"
				data-id="0e03fc0" data-element_type="widget"
				data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:100,&quot;sizes&quot;:[]},&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;image_spacing_custom_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;image_spacing_custom_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
				data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper" role="region" aria-roledescription="carousel"
						aria-label="Image Carousel" dir="ltr">
						<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGa.png" alt="7NUHLGa" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGb.png" alt="7NUHLGb" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGf.png" alt="7NUHLGf" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGh.png" alt="7NUHLGh" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGi.png" alt="7NUHLGh" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGj.png" alt="7NUHLGh" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGk.png" alt="7NUHLGh" />
								</figure>
							</div>
							<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
								<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
										src="../../wp-content/uploads/sites/30/2025/01/7NUHLGl.png" alt="7NUHLGh" />
								</figure>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- sixth section  -->
	<div class="elementor-element elementor-element-e968d5b e-flex e-con-boxed e-con e-parent e-lazyloaded"
		data-id="e968d5b" data-element_type="container"
		data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-b972b3c elementor-widget elementor-widget-heading"
				data-id="b972b3c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Protective Actions</h5>
				</div>
			</div>
			<div class="elementor-element elementor-element-8b159ea elementor-widget__width-initial elementor-widget elementor-widget-heading"
				data-id="8b159ea" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Firefighters Serving with Honor.</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-548f2ff elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
				data-id="548f2ff" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<p>At Techflame, we honor the brave firefighters whose protective actions save lives and protect
						communities every day. Their dedication and courage inspire us to provide the highest standards
						of fire safety solutions and support.</p>
				</div>
			</div>
			<div class="elementor-element elementor-element-aaa7dae e-con-full e-flex e-con e-child" data-id="aaa7dae"
				data-element_type="container">
				<div class="elementor-element elementor-element-d853520 e-con-full animated-fast e-flex e-con e-child animated slideInUp"
					data-id="d853520" data-element_type="container"
					data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
					<div class="elementor-element elementor-element-1646793 ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
						data-id="1646793" data-element_type="widget"
						data-widget_type="elementskit-image-accordion.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="ekit-image-accordion elementskit-image-accordion-wraper"> <input
										type="radio" name="ekit_ia_1646793" id="ekit_ia_1646793_0"
										class="elementskit-single-image-accordion--input" hidden=""> <label
										for="ekit_ia_1646793_0"
										class="elementskit-single-image-accordion ekit-image-accordion-item"
										style="background-image: url()"> <span class="elementskit-accordion-content">
											<span class="elementskit-icon-wraper ekit-image-accordion-actions"> <a
													data-elementor-open-lightbox="yes"
													data-elementor-lightbox-slideshow="1646793"
													data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiIxNjQ2NzkzIn0%3D"
													href="#" aria-label="pupup-button" class="icon-outline circle"> <i
														aria-hidden="true" class="icon icon-plus"></i> </a> </span>
											<span class="elementskit-accordion-title-wraper"> <span
													class="elementskit-accordion-title ">
													Fire Control
												</span> </span> <span class="elementskit-btn-wraper"> <a
													class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
													Read More </a> </span> </span> </label> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-7c3e1b0 e-con-full e-flex e-con e-child animated slideInUp"
					data-id="7c3e1b0" data-element_type="container"
					data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
					<div class="elementor-element elementor-element-d5c2e0c ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
						data-id="d5c2e0c" data-element_type="widget"
						data-widget_type="elementskit-image-accordion.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="ekit-image-accordion elementskit-image-accordion-wraper"> <input
										type="radio" name="ekit_ia_d5c2e0c" id="ekit_ia_d5c2e0c_0"
										class="elementskit-single-image-accordion--input" checked="checked" hidden="">
									<label for="ekit_ia_d5c2e0c_0"
										class="elementskit-single-image-accordion ekit-image-accordion-item"
										style="background-image: url()"> <span class="elementskit-accordion-content">
											<span class="elementskit-icon-wraper ekit-image-accordion-actions"> <a
													data-elementor-open-lightbox="yes"
													data-elementor-lightbox-slideshow="d5c2e0c"
													data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiJkNWMyZTBjIn0%3D"
													href="#" aria-label="pupup-button" class="icon-outline circle"> <i
														aria-hidden="true" class="icon icon-plus"></i> </a> </span>
											<span class="elementskit-accordion-title-wraper"> <span
													class="elementskit-accordion-title ">
													Safety Education
												</span> </span> <span class="elementskit-btn-wraper"> <a
													class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
													Read More </a> </span> </span> </label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-5f53041 e-con-full animated-slow e-flex e-con e-child animated slideInUp"
					data-id="5f53041" data-element_type="container"
					data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
					<div class="elementor-element elementor-element-b42e50a ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
						data-id="b42e50a" data-element_type="widget"
						data-widget_type="elementskit-image-accordion.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="ekit-image-accordion elementskit-image-accordion-wraper"> <input
										type="radio" name="ekit_ia_b42e50a" id="ekit_ia_b42e50a_0"
										class="elementskit-single-image-accordion--input" hidden=""> <label
										for="ekit_ia_b42e50a_0"
										class="elementskit-single-image-accordion ekit-image-accordion-item"
										style="background-image: url()"> <span class="elementskit-accordion-content">
											<span class="elementskit-icon-wraper ekit-image-accordion-actions"> <a
													data-elementor-open-lightbox="yes"
													data-elementor-lightbox-slideshow="b42e50a"
													data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiJiNDJlNTBhIn0%3D"
													href="#" aria-label="pupup-button" class="icon-outline circle"> <i
														aria-hidden="true" class="icon icon-plus"></i> </a> </span>
											<span class="elementskit-accordion-title-wraper"> <span
													class="elementskit-accordion-title ">
													Rescue Operations
												</span> </span> <span class="elementskit-btn-wraper"> <a
													class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
													Read More </a> </span> </span> </label> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Seventh Section  -->
	<div class="elementor-element elementor-element-d704960 e-flex e-con-boxed e-con e-parent e-lazyloaded"
		data-id="d704960" data-element_type="container">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-c2eaf31 e-con-full e-flex e-con e-child" data-id="c2eaf31"
				data-element_type="container">
				<div class="elementor-element elementor-element-96fc083 animated-fast elementor-widget elementor-widget-heading animated slideInLeft"
					data-id="96fc083" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Why Us</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-2d1d94e elementor-widget__width-initial elementor-widget elementor-widget-heading animated slideInLeft"
					data-id="2d1d94e" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Committed to Serve and Protect.
						</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-cdb7985 elementor-widget elementor-widget-text-editor"
					data-id="cdb7985" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Techflame is committed to serving and protecting the community with reliable fire safety
							solutions and unwavering dedication.</p>
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-29fe2d7 e-con-full e-flex e-con e-child" data-id="29fe2d7"
				data-element_type="container">
				<div class="elementor-element elementor-element-e53c998 e-con-full e-flex e-con e-child"
					data-id="e53c998" data-element_type="container">
					<div class="elementor-element elementor-element-2388239 animated-fast elementor-position-top elementor-widget elementor-widget-image-box animated slideInDown"
						data-id="2388239" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
						data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
										height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
										class="attachment-full size-full wp-image-143" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px"></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Advanced Training</h4>
									<p class="elementor-image-box-description">Our team undergoes advanced training to
										stay prepared for any fire safety challenge, ensuring expert handling of every
										situation.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-5b21b43 animated-fast elementor-position-top elementor-widget elementor-widget-image-box animated slideInUp"
						data-id="5b21b43" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}"
						data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
										height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
										class="attachment-full size-full wp-image-143" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px"></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Swift Response</h4>
									<p class="elementor-image-box-description">We pride ourselves on a swift response
										time, acting quickly to protect lives and property when every second counts.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-d4fd579 e-con-full e-flex e-con e-child"
					data-id="d4fd579" data-element_type="container">
					<div class="elementor-element elementor-element-7bda2dd elementor-position-top elementor-widget elementor-widget-image-box animated slideInDown"
						data-id="7bda2dd" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
						data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
										height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
										class="attachment-full size-full wp-image-143" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px"></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Modern Equipment</h4>
									<p class="elementor-image-box-description">Techflame uses the latest modern
										equipment to deliver efficient and effective fire protection solutions.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-1659457 animated-slow elementor-position-top elementor-widget elementor-widget-image-box animated slideInUp"
						data-id="1659457" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}"
						data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300"
										height="300" src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
										class="attachment-full size-full wp-image-143" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
										sizes="(max-width: 300px) 100vw, 300px"></figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Community Commitment</h4>
									<p class="elementor-image-box-description">Our strong commitment to the community
										drives us to promote fire safety awareness and provide reliable protection for
										all.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Testimonial Section  -->
	<div class="max-w-[80%] overflow-hidden m-auto">
		
				<div class="text-center mb-12">
					<h2 class="text-3xl md:text-4xl font-bold mb-4">What Our Clients Say</h2>
					<div class="w-24 h-1 bg-fire-red mx-auto"></div>
					<p class="text-gray-400 mt-4 max-w-2xl mx-auto">Trusted by businesses across the country for
						reliable fire
						protection services and exceptional customer care.</p>
				</div>

				<div
					class="swiper-container testimonial-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
					<div class="swiper-wrapper" id="swiper-wrapper-e383a6ef78b10098d" aria-live="off"
						style="transition-duration: 0ms; transform: translate3d(-756px, 0px, 0px); transition-delay: 0ms;">


						<div class="swiper-slide p-2" style="width: 358px; margin-right: 20px;" role="group"
							aria-label="3 / 5" data-swiper-slide-index="2">
							<div class="testimonial-card bg-gray-800 rounded-lg p-8 relative overflow-hidden h-full">
								<div class="quote-icon absolute top-4 right-4 text-6xl text-fire-red">❝</div>
								<div class="flex items-start mb-6">
									<div
										class="w-16 h-16 bg-gray-700 rounded-full flex items-center justify-center mr-4">
										<svg class="w-10 h-10 text-fire-red" fill="currentColor" viewBox="0 0 20 20">
											<path fill-rule="evenodd"
												d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
									<div>
										<h4 class="text-xl font-semibold">Michael Chen</h4>
										<p class="text-gray-400">Factory Safety Director</p>
									</div>
								</div>
								<p class="text-gray-300 mb-4">"After a thorough assessment of our manufacturing
									facility, they
									designed a custom fire protection solution that addressed all our unique challenges.
									Their
									expertise in industrial settings is unmatched."</p>
								<div class="flex text-fire-red">
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
								</div>
							</div>
						</div>
						<div class="swiper-slide p-2 swiper-slide-prev" style="width: 358px; margin-right: 20px;"
							role="group" aria-label="4 / 5" data-swiper-slide-index="3">
							<div class="testimonial-card bg-gray-800 rounded-lg p-8 relative overflow-hidden h-full">
								<div class="quote-icon absolute top-4 right-4 text-6xl text-fire-red">❝</div>
								<div class="flex items-start mb-6">
									<div
										class="w-16 h-16 bg-gray-700 rounded-full flex items-center justify-center mr-4">
										<svg class="w-10 h-10 text-fire-red" fill="currentColor" viewBox="0 0 20 20">
											<path fill-rule="evenodd"
												d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
									<div>
										<h4 class="text-xl font-semibold">Emily Rodriguez</h4>
										<p class="text-gray-400">School Principal</p>
									</div>
								</div>
								<p class="text-gray-300 mb-4">"The team conducted fire safety training for our staff
									that was
									engaging and informative. They also installed a state-of-the-art alarm system
									throughout our
									campus. Their dedication to safety education is commendable."</p>
								<div class="flex text-fire-red">
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
								</div>
							</div>
						</div>
						<div class="swiper-slide p-2 swiper-slide-active" role="group" aria-label="5 / 5"
							style="width: 358px; margin-right: 20px;" data-swiper-slide-index="4">
							<div class="testimonial-card bg-gray-800 rounded-lg p-8 relative overflow-hidden h-full">
								<div class="quote-icon absolute top-4 right-4 text-6xl text-fire-red">❝</div>
								<div class="flex items-start mb-6">
									<div
										class="w-16 h-16 bg-gray-700 rounded-full flex items-center justify-center mr-4">
										<svg class="w-10 h-10 text-fire-red" fill="currentColor" viewBox="0 0 20 20">
											<path fill-rule="evenodd"
												d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
									<div>
										<h4 class="text-xl font-semibold">David Thompson</h4>
										<p class="text-gray-400">Restaurant Owner</p>
									</div>
								</div>
								<p class="text-gray-300 mb-4">"When our kitchen fire suppression system needed
									upgrading, they
									provided expert guidance and installation. Their knowledge of restaurant-specific
									fire codes
									saved us from potential violations during inspection."</p>
								<div class="flex text-fire-red">
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
								</div>
							</div>
						</div>
						<div class="swiper-slide p-2 swiper-slide-next" style="width: 358px; margin-right: 20px;"
							role="group" aria-label="1 / 5" data-swiper-slide-index="0">
							<div class="testimonial-card bg-gray-800 rounded-lg p-8 relative overflow-hidden h-full">
								<div class="quote-icon absolute top-4 right-4 text-6xl text-fire-red">❝</div>
								<div class="flex items-start mb-6">
									<div
										class="w-16 h-16 bg-gray-700 rounded-full flex items-center justify-center mr-4">
										<svg class="w-10 h-10 text-fire-red" fill="currentColor" viewBox="0 0 20 20">
											<path fill-rule="evenodd"
												d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
									<div>
										<h4 class="text-xl font-semibold">Robert Johnson</h4>
										<p class="text-gray-400">Office Manager, TechCorp</p>
									</div>
								</div>
								<p class="text-gray-300 mb-4">"Their fire protection system installation was flawless.
									The team
									was professional, efficient, and completed the job ahead of schedule. Our building
									has never
									felt safer."</p>
								<div class="flex text-fire-red">
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
								</div>
							</div>
						</div>
						<div class="swiper-slide p-2" style="width: 358px; margin-right: 20px;" role="group"
							aria-label="2 / 5" data-swiper-slide-index="1">
							<div class="testimonial-card bg-gray-800 rounded-lg p-8 relative overflow-hidden h-full">
								<div class="quote-icon absolute top-4 right-4 text-6xl text-fire-red">❝</div>
								<div class="flex items-start mb-6">
									<div
										class="w-16 h-16 bg-gray-700 rounded-full flex items-center justify-center mr-4">
										<svg class="w-10 h-10 text-fire-red" fill="currentColor" viewBox="0 0 20 20">
											<path fill-rule="evenodd"
												d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
									<div>
										<h4 class="text-xl font-semibold">Sarah Williams</h4>
										<p class="text-gray-400">Hotel General Manager</p>
									</div>
								</div>
								<p class="text-gray-300 mb-4">"We've been using their maintenance services for our
									sprinkler
									systems for over 5 years. Their response time during emergencies is impressive, and
									their
									regular inspections give us peace of mind."</p>
								<div class="flex text-fire-red">
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
								</div>
							</div>
						</div>
					</div>

					<!-- Add pagination -->
					<div
						class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
						<span class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
							role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet"
							tabindex="0" role="button" aria-label="Go to slide 3"></span><span
							class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 4"></span><span
							class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
							aria-label="Go to slide 5" aria-current="true"></span>
					</div>

					<!-- Add navigation buttons -->
					<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next testimonial"
						aria-controls="swiper-wrapper-e383a6ef78b10098d"></div>
					<div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous testimonial"
						aria-controls="swiper-wrapper-e383a6ef78b10098d"></div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
				</div>

				<div class="mt-5 text-center">
					<a href="#"
						class="inline-flex items-center px-6 py-3 bg-fire-red text-white font-semibold rounded-lg hover:bg-red-700 transition duration-300">
						<span>Request a Free Consultation</span>
						<svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M14 5l7 7m0 0l-7 7m7-7H3">
							</path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Nineth Section  -->
	<!-- <div class="elementor-element elementor-element-06ccc3f e-flex e-con-boxed e-con e-parent" data-id="06ccc3f"
		data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-c1bccef elementor-widget elementor-widget-heading"
				data-id="c1bccef" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Heroic Team</h5>
				</div>
			</div>
			<div class="elementor-element elementor-element-5170fed elementor-widget__width-initial elementor-widget elementor-widget-heading"
				data-id="5170fed" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">United for Every Life Saved.</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-ab8fc31 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
				data-id="ab8fc31" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
						ullamcorper mattis, pulvinar dapibus leo.</p>
				</div>
			</div>
			<div class="elementor-element elementor-element-ba54ec0 e-con-full e-flex e-con e-child" data-id="ba54ec0"
				data-element_type="container">
				<div class="elementor-element elementor-element-aee38fb e-con-full e-transform animated-fast e-flex elementor-invisible e-con e-child"
					data-id="aee38fb" data-element_type="container"
					data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
					<div class="elementor-element elementor-element-a8ebdaf elementor-widget elementor-widget-image"
						data-id="a8ebdaf" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="650" height="800"
								src="../../wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg"
								class="attachment-full size-full wp-image-328" alt=""
								srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9-244x300.jpg 244w"
								sizes="(max-width: 650px) 100vw, 650px" />
						</div>
					</div>
					<div class="elementor-element elementor-element-e548c68 e-con-full e-flex e-con e-child"
						data-id="e548c68" data-element_type="container">
						<div class="elementor-element elementor-element-8768c37 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
							data-id="8768c37" data-element_type="widget" data-widget_type="social-icons.default">
							<div class="elementor-widget-container">
								<div class="elementor-social-icons-wrapper elementor-grid">
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
											target="_blank">
											<span class="elementor-screen-only">Facebook</span>
											<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
											target="_blank">
											<span class="elementor-screen-only">Twitter</span>
											<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
											target="_blank">
											<span class="elementor-screen-only">Youtube</span>
											<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
												</path>
											</svg> </a>
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-f6bea25 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
							data-id="f6bea25" data-element_type="widget" data-widget_type="divider.default">
							<div class="elementor-widget-container">
								<div class="elementor-divider">
									<span class="elementor-divider-separator">
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-e7511ae elementor-widget elementor-widget-image-box"
							data-id="e7511ae" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">John Martin</h4>
										<p class="elementor-image-box-description">FireFirghter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-116ebc1 e-con-full e-transform e-flex elementor-invisible e-con e-child"
					data-id="116ebc1" data-element_type="container"
					data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
					<div class="elementor-element elementor-element-26b20be elementor-widget elementor-widget-image"
						data-id="26b20be" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="650" height="800"
								src="../../wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg"
								class="attachment-full size-full wp-image-329" alt=""
								srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S-244x300.jpg 244w"
								sizes="(max-width: 650px) 100vw, 650px" />
						</div>
					</div>
					<div class="elementor-element elementor-element-c0f6da0 e-con-full e-flex e-con e-child"
						data-id="c0f6da0" data-element_type="container">
						<div class="elementor-element elementor-element-35da0a3 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
							data-id="35da0a3" data-element_type="widget" data-widget_type="social-icons.default">
							<div class="elementor-widget-container">
								<div class="elementor-social-icons-wrapper elementor-grid">
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
											target="_blank">
											<span class="elementor-screen-only">Facebook</span>
											<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
											target="_blank">
											<span class="elementor-screen-only">Twitter</span>
											<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
											target="_blank">
											<span class="elementor-screen-only">Youtube</span>
											<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
												</path>
											</svg> </a>
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-7f62af1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
							data-id="7f62af1" data-element_type="widget" data-widget_type="divider.default">
							<div class="elementor-widget-container">
								<div class="elementor-divider">
									<span class="elementor-divider-separator">
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-c98e5f0 elementor-widget elementor-widget-image-box"
							data-id="c98e5f0" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Dani Campbell</h4>
										<p class="elementor-image-box-description">FireFirghter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-5168858 e-con-full e-transform animated-slow e-flex elementor-invisible e-con e-child"
					data-id="5168858" data-element_type="container"
					data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
					<div class="elementor-element elementor-element-14bc61e elementor-widget elementor-widget-image"
						data-id="14bc61e" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="650" height="800"
								src="../../wp-content/uploads/sites/30/2025/01/577X7M6.jpg"
								class="attachment-full size-full wp-image-327" alt=""
								srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6-244x300.jpg 244w"
								sizes="(max-width: 650px) 100vw, 650px" />
						</div>
					</div>
					<div class="elementor-element elementor-element-4524a7b e-con-full e-flex e-con e-child"
						data-id="4524a7b" data-element_type="container">
						<div class="elementor-element elementor-element-8e43352 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
							data-id="8e43352" data-element_type="widget" data-widget_type="social-icons.default">
							<div class="elementor-widget-container">
								<div class="elementor-social-icons-wrapper elementor-grid">
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
											target="_blank">
											<span class="elementor-screen-only">Facebook</span>
											<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
											target="_blank">
											<span class="elementor-screen-only">Twitter</span>
											<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
												</path>
											</svg> </a>
									</span>
									<span class="elementor-grid-item">
										<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
											target="_blank">
											<span class="elementor-screen-only">Youtube</span>
											<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
												</path>
											</svg> </a>
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-9a0b00a elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
							data-id="9a0b00a" data-element_type="widget" data-widget_type="divider.default">
							<div class="elementor-widget-container">
								<div class="elementor-divider">
									<span class="elementor-divider-separator">
									</span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-1162580 elementor-widget elementor-widget-image-box"
							data-id="1162580" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Lisa Rodriguez</h4>
										<p class="elementor-image-box-description">FireFirghter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- Tenth Section  -->
	<div class=" elementor-element elementor-element-2f5cf4e e-flex e-con-boxed e-con e-parent " data-id="2f5cf4e"
		data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-a36128a elementor-widget elementor-widget-heading"
				data-id="a36128a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default text-center !mt-30">Join Us in Saving Lives!</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-c6c62e8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
				data-id="c6c62e8" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container max-w-[60%] mt-10 m-auto text-center">
					<p>Be a part of Techflame and make a real difference in fire safety. Join our mission to protect
						lives, serve communities, and grow with a team that values courage, integrity, and dedication.

					</p>
				</div>
			</div>
			<div class="elementor-element elementor-element-3bb5843 elementor-align-center elementor-widget elementor-widget-button mt-10"
				data-id="3bb5843" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
						<a class="elementor-button elementor-button-link elementor-size-sm" href="/career">
							<span class="elementor-button-content-wrapper ">
								<span class="elementor-button-text">Become a Firefighter</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="elementor-element elementor-element-fa787f6 e-flex e-con-boxed e-con e-parent" data-id="fa787f6"
		data-element_type="container">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-20ae33b elementor-widget elementor-widget-heading"
				data-id="20ae33b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Blog
					</h5>
				</div>
			</div>
			<div class="elementor-element elementor-element-d555f4d elementor-widget__width-initial elementor-widget elementor-widget-heading"
				data-id="d555f4d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Community Protection Updates.</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-3fdfdc0 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
				data-id="3fdfdc0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
						ullamcorper mattis, pulvinar dapibus leo.</p>
				</div>
			</div>
			<div class="elementor-element elementor-element-e95f9a3 elementor-widget-mobile__width-initial elementor-widget elementor-widget-elementskit-blog-posts"
				data-id="e95f9a3" data-element_type="widget" data-widget_type="elementskit-blog-posts.default">
				<div class="elementor-widget-container">
					<div class="ekit-wid-con">
						<div id="post-items--e95f9a3" class="row post-items">
							<div class="col-lg-4 col-md-6">

								<div class="elementskit-post-image-card">
									<div class="elementskit-entry-header">
										<a href="../../2025/01/14/courage-behind-the-shield/index.html"
											class="elementskit-entry-thumb">
											<img decoding="async"
												src="../../wp-content/uploads/sites/30/2025/01/DBL3CXQ.jpg"
												alt="Courage Behind the Shield">
										</a>


									</div>

									<div class="elementskit-post-body ">
										<h2 class="entry-title">
											<a href="../../2025/01/14/courage-behind-the-shield/index.html">
												Courage Behind the Shield </a>
										</h2>

										<div class="post-meta-list">
											<span class="meta-date">
												<i aria-hidden="true" class="icon icon-calendar3"></i> <span
													class="meta-date-text">
													January 14, 2025 </span>
											</span>
											<span class="post-comment">
												<i aria-hidden="true" class="icon icon-comment"></i> <a
													href="../../2025/01/14/courage-behind-the-shield/index.html#respond">0</a>
											</span>
										</div>


										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
											ullamcorper tempus est. Donec sit amet lorem at ex eleifend convallis eu
											vitae nisl. Nullam ornare&hellip;</p>
										<div class="btn-wraper">

											<a class="elementskit-btn whitespace--normal" id=""
												href="../../2025/01/14/courage-behind-the-shield/index.html">
												Learn more </a>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-4 col-md-6">

								<div class="elementskit-post-image-card">
									<div class="elementskit-entry-header">
										<a href="../../2025/01/14/heroes-in-every-flame/index.html"
											class="elementskit-entry-thumb">
											<img decoding="async"
												src="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
												alt="Heroes in Every Flame">
										</a>


									</div>

									<div class="elementskit-post-body ">
										<h2 class="entry-title">
											<a href="../../2025/01/14/heroes-in-every-flame/index.html">
												Heroes in Every Flame </a>
										</h2>

										<div class="post-meta-list">
											<span class="meta-date">
												<i aria-hidden="true" class="icon icon-calendar3"></i> <span
													class="meta-date-text">
													January 14, 2025 </span>
											</span>
											<span class="post-comment">
												<i aria-hidden="true" class="icon icon-comment"></i> <a
													href="../../2025/01/14/heroes-in-every-flame/index.html#respond">0</a>
											</span>
										</div>


										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
											ullamcorper tempus est. Donec sit amet lorem at ex eleifend convallis eu
											vitae nisl. Nullam ornare&hellip;</p>
										<div class="btn-wraper">

											<a class="elementskit-btn whitespace--normal" id=""
												href="../../2025/01/14/heroes-in-every-flame/index.html">
												Learn more </a>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-4 col-md-6">

								<div class="elementskit-post-image-card">
									<div class="elementskit-entry-header">
										<a href="../../2025/01/14/united-in-firefighting-excellence/index.html"
											class="elementskit-entry-thumb">
											<img decoding="async"
												src="../../wp-content/uploads/sites/30/2025/01/NMZGMCN.jpg"
												alt="United in Firefighting Excellence">
										</a>


									</div>

									<div class="elementskit-post-body ">
										<h2 class="entry-title">
											<a href="../../2025/01/14/united-in-firefighting-excellence/index.html">
												United in Firefighting Excellence </a>
										</h2>

										<div class="post-meta-list">
											<span class="meta-date">
												<i aria-hidden="true" class="icon icon-calendar3"></i> <span
													class="meta-date-text">
													January 14, 2025 </span>
											</span>
											<span class="post-comment">
												<i aria-hidden="true" class="icon icon-comment"></i> <a
													href="../../2025/01/14/united-in-firefighting-excellence/index.html#respond">0</a>
											</span>
										</div>


										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
											ullamcorper tempus est. Donec sit amet lorem at ex eleifend convallis eu
											vitae nisl. Nullam ornare&hellip;</p>
										<div class="btn-wraper">

											<a class="elementskit-btn whitespace--normal" id=""
												href="../../2025/01/14/united-in-firefighting-excellence/index.html">
												Learn more </a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  -->
</div>


  

<Footer> </Footer>