
	<link rel='stylesheet' id='elementor-post-637-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-63721cb.css?ver=1745611961' media='all' />
	
<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-637 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-637">
	
	<div data-elementor-type="wp-post" data-elementor-id="637" class="elementor elementor-637">
		<div class="elementor-element elementor-element-1236e01 e-flex e-con-boxed e-con e-parent" data-id="1236e01"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-3d072ea elementor-widget elementor-widget-heading"
					data-id="3d072ea" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Firefighters</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-6159449 elementor-widget elementor-widget-text-editor"
					data-id="6159449" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Firefighters</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-b89fd3d e-flex e-con-boxed e-con e-parent" data-id="b89fd3d"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-54ec549 elementor-widget elementor-widget-heading"
					data-id="54ec549" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Heroic Team</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-a012a09 elementor-widget__width-initial elementor-widget elementor-widget-heading"
					data-id="a012a09" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">United for Every Life Saved.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-8f2fbef elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="8f2fbef" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
							ullamcorper mattis, pulvinar dapibus leo.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-c419abd e-con-full e-flex e-con e-child"
					data-id="c419abd" data-element_type="container">
					<div class="elementor-element elementor-element-9e4275a e-con-full e-transform animated-fast e-flex elementor-invisible e-con e-child"
						data-id="9e4275a" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-f031875 elementor-widget elementor-widget-image"
							data-id="f031875" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img fetchpriority="high" decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg"
									class="attachment-full size-full wp-image-328" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-1d08fae e-con-full e-flex e-con e-child"
							data-id="1d08fae" data-element_type="container">
							<div class="elementor-element elementor-element-749f153 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="749f153" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-56dd187 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="56dd187" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-06a57c4 elementor-widget elementor-widget-image-box"
								data-id="06a57c4" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">John Martin</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-6da8c27 e-con-full e-transform e-flex elementor-invisible e-con e-child"
						data-id="6da8c27" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-43bd565 elementor-widget elementor-widget-image"
							data-id="43bd565" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg"
									class="attachment-full size-full wp-image-329" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-0953b64 e-con-full e-flex e-con e-child"
							data-id="0953b64" data-element_type="container">
							<div class="elementor-element elementor-element-807b019 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="807b019" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1f41b92 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="1f41b92" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-a873c66 elementor-widget elementor-widget-image-box"
								data-id="a873c66" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Dani Campbell</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-07da9b6 e-con-full e-transform animated-slow e-flex elementor-invisible e-con e-child"
						data-id="07da9b6" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-5c1961e elementor-widget elementor-widget-image"
							data-id="5c1961e" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/577X7M6.jpg"
									class="attachment-full size-full wp-image-327" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-a0f573f e-con-full e-flex e-con e-child"
							data-id="a0f573f" data-element_type="container">
							<div class="elementor-element elementor-element-d965de4 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="d965de4" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-107b6cd elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="107b6cd" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-b18470f elementor-widget elementor-widget-image-box"
								data-id="b18470f" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Lisa Rodriguez</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-321e015 e-con-full e-flex e-con e-child"
					data-id="321e015" data-element_type="container">
					<div class="elementor-element elementor-element-0786a8d e-con-full e-transform animated-fast e-flex elementor-invisible e-con e-child"
						data-id="0786a8d" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-b1d1e8a elementor-widget elementor-widget-image"
							data-id="b1d1e8a" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img fetchpriority="high" decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg"
									class="attachment-full size-full wp-image-328" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/BHEXTY9-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-4abeb7f e-con-full e-flex e-con e-child"
							data-id="4abeb7f" data-element_type="container">
							<div class="elementor-element elementor-element-47225d7 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="47225d7" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-af93234 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="af93234" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-4b544d4 elementor-widget elementor-widget-image-box"
								data-id="4b544d4" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">John Martin</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-5158816 e-con-full e-transform e-flex elementor-invisible e-con e-child"
						data-id="5158816" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-437044b elementor-widget elementor-widget-image"
							data-id="437044b" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg"
									class="attachment-full size-full wp-image-329" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Y5GEN5S-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-d2f52b8 e-con-full e-flex e-con e-child"
							data-id="d2f52b8" data-element_type="container">
							<div class="elementor-element elementor-element-0edbd13 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="0edbd13" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-36e355d elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="36e355d" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-8088fb7 elementor-widget elementor-widget-image-box"
								data-id="8088fb7" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Dani Campbell</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-8771e46 e-con-full e-transform animated-slow e-flex elementor-invisible e-con e-child"
						data-id="8771e46" data-element_type="container"
						data-settings="{&quot;_transform_translateY_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-5,&quot;sizes&quot;:[]},&quot;animation&quot;:&quot;slideInUp&quot;,&quot;_transform_translateX_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateX_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_translateY_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
						<div class="elementor-element elementor-element-ca54a19 elementor-widget elementor-widget-image"
							data-id="ca54a19" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="650" height="800"
									src="../../wp-content/uploads/sites/30/2025/01/577X7M6.jpg"
									class="attachment-full size-full wp-image-327" alt=""
									srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6.jpg 650w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/577X7M6-244x300.jpg 244w"
									sizes="(max-width: 650px) 100vw, 650px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-926b8db e-con-full e-flex e-con e-child"
							data-id="926b8db" data-element_type="container">
							<div class="elementor-element elementor-element-8e7465a e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
								data-id="8e7465a" data-element_type="widget" data-widget_type="social-icons.default">
								<div class="elementor-widget-container">
									<div class="elementor-social-icons-wrapper elementor-grid">
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-8f2a07d"
												target="_blank">
												<span class="elementor-screen-only">Facebook</span>
												<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-1572503"
												target="_blank">
												<span class="elementor-screen-only">Twitter</span>
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg> </a>
										</span>
										<span class="elementor-grid-item">
											<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1bf6810"
												target="_blank">
												<span class="elementor-screen-only">Youtube</span>
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg> </a>
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-3f886e4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="3f886e4" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-737e758 elementor-widget elementor-widget-image-box"
								data-id="737e758" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Lisa Rodriguez</h4>
											<p class="elementor-image-box-description">FireFirghter</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-bd94608 e-flex e-con-boxed e-con e-parent" data-id="bd94608"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-8f840ac elementor-widget elementor-widget-heading"
					data-id="8f840ac" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Join Us in Saving Lives!</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-df5e8dd elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="df5e8dd" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Quisque ac turpis vitae neque posuere feugiat. Nunc laoreet felis at nulla egestas pulvinar.
							Aliquam cursus consectetur nunc. Pellentesque quis risus luctus lectus fringilla tempor eu
							ut dolor.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-496adc3 elementor-align-center elementor-widget elementor-widget-button"
					data-id="496adc3" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Become a Firefighter</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-37ef142 e-flex e-con-boxed e-con e-parent" data-id="37ef142"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-a1df8f4 elementor-widget elementor-widget-image-carousel"
					data-id="a1df8f4" data-element_type="widget"
					data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:100,&quot;sizes&quot;:[]},&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;image_spacing_custom_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;image_spacing_custom_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
					data-widget_type="image-carousel.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-carousel-wrapper swiper" role="region"
							aria-roledescription="carousel" aria-label="Image Carousel" dir="ltr">
							<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 4">
									<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
											src="../../wp-content/uploads/sites/30/2025/01/7NUHLGa.png" alt="7NUHLGa" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 4">
									<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
											src="../../wp-content/uploads/sites/30/2025/01/7NUHLGb.png" alt="7NUHLGb" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 4">
									<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
											src="../../wp-content/uploads/sites/30/2025/01/7NUHLGf.png" alt="7NUHLGf" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4">
									<figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image"
											src="../../wp-content/uploads/sites/30/2025/01/7NUHLGh.png" alt="7NUHLGh" />
									</figure>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-15a18a8 e-flex e-con-boxed e-con e-parent" data-id="15a18a8"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-2942599 e-con-full e-flex e-con e-child"
					data-id="2942599" data-element_type="container">
					<div class="elementor-element elementor-element-2d43502 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
						data-id="2d43502" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Protecting Life, Fighting Flame.
							</h3>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-d473eba e-con-full e-flex e-con e-child"
					data-id="d473eba" data-element_type="container">
					<div class="elementor-element elementor-element-a7864cb e-con-full e-flex e-con e-child"
						data-id="a7864cb" data-element_type="container">
						<div class="elementor-element elementor-element-ce2e8f7 elementor-position-top elementor-widget elementor-widget-image-box"
							data-id="ce2e8f7" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
											class="attachment-full size-full wp-image-63" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Emergency Response</h4>
										<p class="elementor-image-box-description">We handle fires, accidents, and
											medical crises with speed and expertise.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-38b5b4a e-con-full animated-fast e-flex elementor-invisible e-con e-child"
							data-id="38b5b4a" data-element_type="container"
							data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
							<div class="elementor-element elementor-element-aa8842b elementor-widget elementor-widget-counter"
								data-id="aa8842b" data-element_type="widget" data-widget_type="counter.default">
								<div class="elementor-widget-container">
									<div class="elementor-counter">
										<div class="elementor-counter-number-wrapper">
											<span class="elementor-counter-number-prefix"></span>
											<span class="elementor-counter-number" data-duration="2000"
												data-to-value="47" data-from-value="0" data-delimiter=",">0</span>
											<span class="elementor-counter-number-suffix">k+</span>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-3234fd4 elementor-widget elementor-widget-heading"
								data-id="3234fd4" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h5 class="elementor-heading-title elementor-size-default">Rescue Call Each Year
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-e7fa86f elementor-widget elementor-widget-spacer"
						data-id="e7fa86f" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-9a02ae9 e-con-full e-flex e-con e-child"
						data-id="9a02ae9" data-element_type="container">
						<div class="elementor-element elementor-element-efdc272 elementor-position-top elementor-widget elementor-widget-image-box"
							data-id="efdc272" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
											class="attachment-full size-full wp-image-63" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Safety Education</h4>
										<p class="elementor-image-box-description">We Promoting fire prevention and
											safety through public outreach and code enforcement.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6fc2223 e-con-full e-flex elementor-invisible e-con e-child"
							data-id="6fc2223" data-element_type="container"
							data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
							<div class="elementor-element elementor-element-d72d60a elementor-widget elementor-widget-counter"
								data-id="d72d60a" data-element_type="widget" data-widget_type="counter.default">
								<div class="elementor-widget-container">
									<div class="elementor-counter">
										<div class="elementor-counter-number-wrapper">
											<span class="elementor-counter-number-prefix"></span>
											<span class="elementor-counter-number" data-duration="2000"
												data-to-value="50" data-from-value="0">0</span>
											<span class="elementor-counter-number-suffix">k+</span>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-a5aeb03 elementor-widget elementor-widget-heading"
								data-id="a5aeb03" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h5 class="elementor-heading-title elementor-size-default">School Received Fire
										Safety Training</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-a470cba elementor-widget elementor-widget-spacer"
						data-id="a470cba" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-62b03ac e-con-full e-flex e-con e-child"
						data-id="62b03ac" data-element_type="container">
						<div class="elementor-element elementor-element-fbb8b27 elementor-position-top elementor-widget elementor-widget-image-box"
							data-id="fbb8b27" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/Overlay-3.png"
											class="attachment-full size-full wp-image-63" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/Overlay-3-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Community Protection</h4>
										<p class="elementor-image-box-description">Preparing for disasters and
											safeguarding lives and property.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-96b1f21 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
							data-id="96b1f21" data-element_type="container"
							data-settings="{&quot;animation&quot;:&quot;slideInUp&quot;}">
							<div class="elementor-element elementor-element-846c2fd elementor-widget elementor-widget-counter"
								data-id="846c2fd" data-element_type="widget" data-widget_type="counter.default">
								<div class="elementor-widget-container">
									<div class="elementor-counter">
										<div class="elementor-counter-number-wrapper">
											<span class="elementor-counter-number-prefix"></span>
											<span class="elementor-counter-number" data-duration="2000"
												data-to-value="30" data-from-value="0">0</span>
											<span class="elementor-counter-number-suffix">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-60219ee elementor-widget elementor-widget-heading"
								data-id="60219ee" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h5 class="elementor-heading-title elementor-size-default">Risk Reduction Success
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-0d7061d elementor-widget elementor-widget-spacer"
						data-id="0d7061d" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-cbd63f4 e-con-full e-flex e-con e-parent" data-id="cbd63f4"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-element elementor-element-30ef453 e-con-full e-flex e-con e-child" data-id="30ef453"
				data-element_type="container">
				<div class="elementor-element elementor-element-e4bad23 elementor-widget elementor-widget-image"
					data-id="e4bad23" data-element_type="widget" data-widget_type="image.default">
					<div class="elementor-widget-container">
						<img loading="lazy" decoding="async" width="1920" height="1280"
							src="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
							class="attachment-full size-full wp-image-250" alt=""
							srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-800x533.jpg 800w"
							sizes="(max-width: 1920px) 100vw, 1920px" />
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-1820519 e-con-full e-flex e-con e-child" data-id="1820519"
				data-element_type="container">
				<div class="elementor-element elementor-element-2c7f75a e-con-full e-flex e-con e-child"
					data-id="2c7f75a" data-element_type="container">
					<div class="elementor-element elementor-element-b40cb30 e-con-full e-flex e-con e-child"
						data-id="b40cb30" data-element_type="container">
						<div class="elementor-element elementor-element-efc834e animated-fast elementor-invisible elementor-widget elementor-widget-heading"
							data-id="efc834e" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
							data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">Testimonials</h5>
							</div>
						</div>
						<div class="elementor-element elementor-element-630b127 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
							data-id="630b127" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
							data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">What client Say.</h2>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-25da3d5 e-con-full e-flex e-con e-child"
						data-id="25da3d5" data-element_type="container">
						<div class="elementor-element elementor-element-00503e8 elementor-widget elementor-widget-image"
							data-id="00503e8" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="216" height="195"
									src="../../wp-content/uploads/sites/30/2025/01/Quote-1.png"
									class="attachment-full size-full wp-image-292" alt="" />
							</div>
						</div>
						<div class="elementor-element elementor-element-04989f6 ekit-testimonial-slide elementor-widget elementor-widget-elementskit-testimonial"
							data-id="04989f6" data-element_type="widget"
							data-widget_type="elementskit-testimonial.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="elementskit-testimonial-slider ekit_testimonial_style_5 arrow_inside "
										data-config="{&quot;rtl&quot;:false,&quot;arrows&quot;:true,&quot;dots&quot;:false,&quot;pauseOnHover&quot;:true,&quot;autoplay&quot;:true,&quot;speed&quot;:1500,&quot;slidesPerGroup&quot;:1,&quot;slidesPerView&quot;:1,&quot;loop&quot;:true,&quot;spaceBetween&quot;:15,&quot;breakpoints&quot;:{&quot;320&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;768&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;1024&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:15}}}">
										<div class="ekit-main-swiper swiper">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-ccb6c51">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Their fast response saved our home. The teams
																	professionalism, courage, and efficiency during the
																	fire were remarkable. We feel safer knowing they are
																	protecting our community.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">John
																			Carter</strong>
																		<span class="elementskit-author-des">Home
																			Owner</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-6425832">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>The firefighters arrived quickly, controlled the fire
																	effectively, and ensured everyones safety. Their
																	dedication and skill made a devastating situation
																	manageable. I highly recommend their exceptional
																	service.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Sarah
																			Mitchell</strong>
																		<span class="elementskit-author-des">Business
																			Owner</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-c47c8be">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Exceptional team with unmatched bravery. They acted
																	quickly and reassured us during a critical moment.
																	Their expertise and compassion prove why theyre
																	trusted by everyone in our neighborhood.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Michael
																			Thompson</strong>
																		<span class="elementskit-author-des">Local
																			Resident</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-9c52905">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Their unwavering commitment to public safety is
																	inspiring. From response time to handling
																	emergencies, they exemplify true professionalism. We
																	are fortunate to have such dedicated firefighters
																	serving our community</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Emily
																			Brown</strong>
																		<span class="elementskit-author-des">Community
																			Leader</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>


											<div class="swiper-navigation-button swiper-button-prev">
												<i aria-hidden="true" class="icon icon-chevron-left-circle"></i>
											</div>
											<div class="swiper-navigation-button swiper-button-next">
												<i aria-hidden="true" class="icon icon-chevron-right-circle"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

