<!-- Footer  -->
<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
	<div data-elementor-type="wp-post" data-elementor-id="469" class="elementor elementor-469">
		<div class="elementor-element elementor-element-f3c5516 e-flex e-con-boxed e-con e-parent e-lazyloaded"
			data-id="f3c5516" data-element_type="container"
			data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-d7509dd e-con-full e-flex e-con e-child"
					data-id="d7509dd" data-element_type="container">
					<div class="elementor-element elementor-element-8e40799 e-con-full e-flex e-con e-child"
						data-id="8e40799" data-element_type="container">
						<div class="elementor-element elementor-element-c107654 elementor-widget__width-initial elementor-widget elementor-widget-heading"
							data-id="c107654" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h3 class="elementor-heading-title elementor-size-default">Stay informed with our
									firefighter news.</h3>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-9be05dd e-con-full e-flex e-con e-child"
						data-id="9be05dd" data-element_type="container">
						<div class="elementor-element elementor-element-17a1a58 elementor-widget elementor-widget-metform"
							data-id="17a1a58" data-element_type="widget" data-widget_type="metform.default">
							<div class="elementor-widget-container">
								<div id="mf-response-props-id-480" data-previous-steps-style="" data-editswitchopen=""
									data-response_type="alert" data-erroricon="fas fa-exclamation-triangle"
									data-successicon="fas fa-check" data-messageposition="top"
									class="   mf-scroll-top-no">
									<div class="formpicker_warper formpicker_warper_editable"
										data-metform-formpicker-key="480">
										<div class="mf-widget-container">
											<div id="metform-wrap-17a1a58-480" class="mf-form-wrapper"
												data-form-id="480"
												data-action="../../wp-json/metform/v1/entries/insert/480.json"
												data-wp-nonce="a4d3c52f57" data-form-nonce="ce90749bae"
												data-quiz-summery="false" data-save-progress="false"
												data-form-type="general-form" data-stop-vertical-effect="">
												<form class="metform-form-content">
													<div class="mf-main-response-wrap   mf-response-msg-wrap"
														data-show="0">
														<div class="mf-response-msg"><i
																class="mf-success-icon fas fa-check"></i>
															<p></p>
														</div>
													</div>
													<div class="metform-form-main-wrapper">
														<div data-elementor-type="wp-post" data-elementor-id="480"
															class="elementor elementor-480">
															<div class="elementor-element elementor-element-dae7c65 e-con-full e-flex e-con e-parent"
																data-id="dae7c65" data-element_type="container">
																<div class="elementor-element elementor-element-7fa0036 e-con-full e-flex e-con e-child"
																	data-id="7fa0036" data-element_type="container">
																	<div class="elementor-element elementor-element-c456cf1 elementor-widget elementor-widget-mf-email"
																		data-id="c456cf1" data-element_type="widget"
																		data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}"
																		data-widget_type="mf-email.default">
																		<div class="elementor-widget-container">
																			<div class="mf-input-wrapper"><input
																					type="email" class="mf-input "
																					id="mf-input-email-c456cf1"
																					name="mf-email"
																					placeholder="Enter Your Email Here "
																					aria-invalid="false" value=""></div>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-4be4086 e-con-full e-flex e-con e-child"
																	data-id="4be4086" data-element_type="container">
																	<div class="elementor-element elementor-element-819d0f4 mf-btn--justify mf-btn--tablet-justify mf-btn--mobile-justify elementor-widget elementor-widget-mf-button"
																		data-id="819d0f4" data-element_type="widget"
																		data-widget_type="mf-button.default">
																		<div class="elementor-widget-container">
																			<div class="mf-btn-wraper "
																				data-mf-form-conditional-logic-requirement="">
																				<button type="submit"
																					class="metform-btn metform-submit-btn "
																					id=""><span>Subscribe
																					</span></button></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</form>
											</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-1c7e1d0 elementor-widget elementor-widget-heading"
							data-id="1c7e1d0" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h6 class="elementor-heading-title elementor-size-default">Subscribe to receive
									inspiration, ideas, and news in your inbox.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-abc2bdb e-con-full e-flex e-con e-child"
					data-id="abc2bdb" data-element_type="container">
					<div class="elementor-element elementor-element-b5288ba e-con-full e-flex e-con e-child"
						data-id="b5288ba" data-element_type="container">
						<div class="elementor-element elementor-element-3a01373 elementor-widget elementor-widget-image"
							data-id="3a01373" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container"> <img width="294" height="75"
									src="../../wp-content/uploads/sites/30/2025/01/FireGuard-1.png"
									class="attachment-full size-full wp-image-436" alt=""> </div>
						</div>
						<div class="elementor-element elementor-element-29aeea3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
							data-id="29aeea3" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h6 class="elementor-heading-title elementor-size-default">Techflame – Delivering
									reliable fire protection solutions to homes, businesses, and industries with a
									commitment to safety, quality, and peace of mind</h6>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-d6593e2 e-con-full e-flex e-con e-child"
						data-id="d6593e2" data-element_type="container">
						<div class="elementor-element elementor-element-5d7fcb3 e-con-full e-flex e-con e-child"
							data-id="5d7fcb3" data-element_type="container">
							<div class="elementor-element elementor-element-8a4518e elementor-widget elementor-widget-heading"
								data-id="8a4518e" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">About Us</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-029098e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="029098e" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items">
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">About Us</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">History</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Firefighters</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Contact Us</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-fe1ab19 e-con-full e-flex e-con e-child"
							data-id="fe1ab19" data-element_type="container">
							<div class="elementor-element elementor-element-d913d87 elementor-widget elementor-widget-heading"
								data-id="d913d87" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">Services</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-c226c11 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="c226c11" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items">
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Fire Control</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Emergency Response</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Rescue Operations</span> </li>
										<li class="elementor-icon-list-item"> <span
												class="elementor-icon-list-text">Safety Education</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-36ab492 e-con-full e-flex e-con e-child"
							data-id="36ab492" data-element_type="container">
							<div class="elementor-element elementor-element-4a3cd29 elementor-widget elementor-widget-heading"
								data-id="4a3cd29" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">Get in Touch</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-2afe56f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="2afe56f" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items">
										<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
													aria-hidden="true" class="icon icon-map-marker1"></i> </span> <span
												class="elementor-icon-list-text">304 3rd floor, Commerce Tower,
												Ranchi, JHARKHAND</span> </li>
										<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
													aria-hidden="true" class="icon icon-envelope2"></i> </span> <span
												class="elementor-icon-list-text">fire.techflame@gmail.com</span> </li>
										<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
													aria-hidden="true" class="icon icon-phone-call2"></i> </span> <span
												class="elementor-icon-list-text">+91 9835714825</span> </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-558ee9b e-con-full e-flex e-con e-child"
					data-id="558ee9b" data-element_type="container">
					<div class="elementor-element elementor-element-98e7caf e-con-full e-flex e-con e-child"
						data-id="98e7caf" data-element_type="container">
						<div class="elementor-element elementor-element-3c24aa9 elementor-widget elementor-widget-heading"
							data-id="3c24aa9" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h6 class="elementor-heading-title elementor-size-default">© 2025 Techflame. All rights
									reserved. | Fire Safety You Can Trust.</h6>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-58f034c e-con-full e-flex e-con e-child"
						data-id="58f034c" data-element_type="container">
						<div class="elementor-element elementor-element-51a96ed elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
							data-id="51a96ed" data-element_type="widget" data-widget_type="icon-list.default">
							<div class="elementor-widget-container"> <!-- <ul class="elementor-icon-list-items elementor-inline-items">
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Terms & Conditions</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Privacy Policy</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">FAQ</span>
										</li>
									</ul> --> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const lazyloadRunObserver = () => {
		const lazyloadBackgrounds = document.querySelectorAll(`.e-con.e-parent:not(.e-lazyloaded)`);
		const lazyloadBackgroundObserver = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					let lazyloadBackground = entry.target;
					if (lazyloadBackground) {
						lazyloadBackground.classList.add('e-lazyloaded');
					}
					lazyloadBackgroundObserver.unobserve(entry.target);
				}
			});
		}, { rootMargin: '200px 0px 200px 0px' });
		lazyloadBackgrounds.forEach((lazyloadBackground) => {
			lazyloadBackgroundObserver.observe(lazyloadBackground);
		});
	};
	const events = [
		'DOMContentLoaded',
		'elementor/lazyload/observe',
	];
	events.forEach((event) => {
		document.addEventListener(event, lazyloadRunObserver);
	});
</script>

<link rel='stylesheet' id='widget-icon-list-css'
	href='../../wp-content/plugins/elementor/assets/css/widget-icon-list.min89ce.css?ver=3.28.4' media='all' />
<link rel='stylesheet' id='font-awesome-5-all-css'
	href='../../wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min89ce.css?ver=3.28.4' media='all' />
<link rel='stylesheet' id='font-awesome-4-shim-css'
	href='../../wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min89ce.css?ver=3.28.4' media='all' />
<link rel='stylesheet' id='metform-ui-css'
	href='../../wp-content/plugins/metform/public/assets/css/metform-uib526.css?ver=3.9.8' media='all' />
<link rel='stylesheet' id='metform-style-css'
	href='../../wp-content/plugins/metform/public/assets/css/styleb526.css?ver=3.9.8' media='all' />
<link rel='stylesheet' id='elementor-post-480-css'
	href='../../wp-content/uploads/sites/30/elementor/css/post-4805244.css?ver=1745392021' media='all' />
<script src="../../wp-content/plugins/metform/public/assets/lib/cute-alert/cute-alertb526.js?ver=3.9.8"
	id="cute-alert-js"></script>
<script src="../../wp-content/themes/hello-elementor/assets/js/hello-frontend.min5589.js?ver=3.4.1"
	id="hello-theme-frontend-js"></script>
<script src="../../wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script9d52.js?ver=3.5.1"
	id="elementskit-framework-js-frontend-js"></script>
<script id="elementskit-framework-js-frontend-js-after">
	var elementskit = {
		resturl: 'https://askit.dextheme.net/fireguard/wp-json/elementskit/v1/',
	}
</script>

<script src="../../wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts9d52.js?ver=3.5.1"
	id="ekit-widget-scripts-js"></script>
<script src="../../wp-content/plugins/elementor/assets/lib/swiper/v8/swiper.min94a4.js?ver=8.4.5"
	id="swiper-js"></script>
<script src="../../wp-content/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min3958.js?ver=0.2.1"
	id="jquery-numerator-js"></script>
<script id="mediaelement-core-js-before">
	var mejsL10n = { "language": "en", "strings": { "mejs.download-file": "Download File", "mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/", "mejs.fullscreen": "Fullscreen", "mejs.play": "Play", "mejs.pause": "Pause", "mejs.time-slider": "Time Slider", "mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.", "mejs.live-broadcast": "Live Broadcast", "mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.", "mejs.unmute": "Unmute", "mejs.mute": "Mute", "mejs.volume-slider": "Volume Slider", "mejs.video-player": "Video Player", "mejs.audio-player": "Audio Player", "mejs.captions-subtitles": "Captions\/Subtitles", "mejs.captions-chapters": "Chapters", "mejs.none": "None", "mejs.afrikaans": "Afrikaans", "mejs.albanian": "Albanian", "mejs.arabic": "Arabic", "mejs.belarusian": "Belarusian", "mejs.bulgarian": "Bulgarian", "mejs.catalan": "Catalan", "mejs.chinese": "Chinese", "mejs.chinese-simplified": "Chinese (Simplified)", "mejs.chinese-traditional": "Chinese (Traditional)", "mejs.croatian": "Croatian", "mejs.czech": "Czech", "mejs.danish": "Danish", "mejs.dutch": "Dutch", "mejs.english": "English", "mejs.estonian": "Estonian", "mejs.filipino": "Filipino", "mejs.finnish": "Finnish", "mejs.french": "French", "mejs.galician": "Galician", "mejs.german": "German", "mejs.greek": "Greek", "mejs.haitian-creole": "Haitian Creole", "mejs.hebrew": "Hebrew", "mejs.hindi": "Hindi", "mejs.hungarian": "Hungarian", "mejs.icelandic": "Icelandic", "mejs.indonesian": "Indonesian", "mejs.irish": "Irish", "mejs.italian": "Italian", "mejs.japanese": "Japanese", "mejs.korean": "Korean", "mejs.latvian": "Latvian", "mejs.lithuanian": "Lithuanian", "mejs.macedonian": "Macedonian", "mejs.malay": "Malay", "mejs.maltese": "Maltese", "mejs.norwegian": "Norwegian", "mejs.persian": "Persian", "mejs.polish": "Polish", "mejs.portuguese": "Portuguese", "mejs.romanian": "Romanian", "mejs.russian": "Russian", "mejs.serbian": "Serbian", "mejs.slovak": "Slovak", "mejs.slovenian": "Slovenian", "mejs.spanish": "Spanish", "mejs.swahili": "Swahili", "mejs.swedish": "Swedish", "mejs.tagalog": "Tagalog", "mejs.thai": "Thai", "mejs.turkish": "Turkish", "mejs.ukrainian": "Ukrainian", "mejs.vietnamese": "Vietnamese", "mejs.welsh": "Welsh", "mejs.yiddish": "Yiddish" } };
</script>
<script src="../../wp-includes/js/mediaelement/mediaelement-and-player.min1f61.js?ver=4.2.17"
	id="mediaelement-core-js"></script>
<script src="../../wp-includes/js/mediaelement/mediaelement-migrate.min0899.js?ver=6.8.1"
	id="mediaelement-migrate-js"></script>
<script id="mediaelement-js-extra">
	var _wpmejsSettings = { "pluginPath": "\/fireguard\/wp-includes\/js\/mediaelement\/", "classPrefix": "mejs-", "stretching": "responsive", "audioShortcodeLibrary": "mediaelement", "videoShortcodeLibrary": "mediaelement" };
</script>
<script src="../../wp-includes/js/mediaelement/wp-mediaelement.min0899.js?ver=6.8.1" id="wp-mediaelement-js"></script>
<script src="../../wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min89ce.js?ver=3.28.4"
	id="font-awesome-4-shim-js"></script>
<script src="../../wp-content/plugins/metform/public/assets/js/htmb526.js?ver=3.9.8" id="htm-js"></script>
<script src="../../wp-includes/js/dist/vendor/react.mine1ab.js?ver=18.3.1.1" id="react-js"></script>
<script src="../../wp-includes/js/dist/vendor/react-dom.mine1ab.js?ver=18.3.1.1" id="react-dom-js"></script>
<script src="../../wp-includes/js/dist/escape-html.min3a9d.js?ver=6561a406d2d232a6fbd2" id="wp-escape-html-js"></script>
<script src="../../wp-includes/js/dist/element.minfa0f.js?ver=a4eeeadd23c0d7ab1d2d" id="wp-element-js"></script>
<script id="metform-app-js-extra">
	var mf = { "postType": "envato_tk_templates", "restURI": "https:\/\/askit.dextheme.net\/fireguard\/wp-json\/metform\/v1\/forms\/views\/", "minMsg1": "Minimum length should be ", "Msg2": " character long.", "maxMsg1": "Maximum length should be ", "maxNum": "Maximum number should be ", "minNum": "Minimum number should be " };
</script>
<script src="../../wp-content/plugins/metform/public/assets/js/appb526.js?ver=3.9.8" id="metform-app-js"></script>
<script src="../../wp-content/plugins/elementor/assets/js/webpack.runtime.min89ce.js?ver=3.28.4"
	id="elementor-webpack-runtime-js"></script>
<script src="../../wp-content/plugins/elementor/assets/js/frontend-modules.min89ce.js?ver=3.28.4"
	id="elementor-frontend-modules-js"></script>
<script src="../../wp-includes/js/jquery/ui/core.minb37e.js?ver=1.13.3" id="jquery-ui-core-js"></script>
<script id="elementor-frontend-js-before">
	var elementorFrontendConfig = {
		"environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close", "a11yCarouselPrevSlideMessage": "Previous slide", "a11yCarouselNextSlideMessage": "Next slide", "a11yCarouselFirstSlideMessage": "This is the first slide", "a11yCarouselLastSlideMessage": "This is the last slide", "a11yCarouselPaginationBulletMessage": "Go to slide" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": {
			"breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } },
			"hasCustomBreakpoints": false
		}, "version": "3.28.4", "is_static": false, "experimentalFeatures": { "e_font_icon_svg": true, "additional_custom_breakpoints": true, "container": true, "e_local_google_fonts": true, "hello-theme-header-footer": true, "nested-elements": true, "editor_v2": true, "e_element_cache": true, "home_screen": true, "launchpad-checklist": true }, "urls": { "assets": "https:\/\/askit.dextheme.net\/fireguard\/wp-content\/plugins\/elementor\/assets\/", "ajaxurl": "https:\/\/askit.dextheme.net\/fireguard\/wp-admin\/admin-ajax.php", "uploadUrl": "https:\/\/askit.dextheme.net\/fireguard\/wp-content\/uploads\/sites\/30" }, "nonces": { "floatingButtonsClickTracking": "35d69498ef" }, "swiperClass": "swiper", "settings": { "page": [], "editorPreferences": [] }, "kit": { "body_background_background": "classic", "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description", "hello_header_logo_type": "title", "hello_header_menu_layout": "horizontal", "hello_footer_logo_type": "logo" }, "post": { "id": 5, "title": "Home%20%E2%80%93%20Fireguard", "excerpt": "", "featuredImage": "https:\/\/askit.dextheme.net\/fireguard\/wp-content\/uploads\/sites\/30\/2025\/01\/1-Home-215x1024.jpg" }
	};
</script>
<script src="../../wp-content/plugins/elementor/assets/js/frontend.min89ce.js?ver=3.28.4"
	id="elementor-frontend-js"></script>
<script src="../../wp-content/plugins/elementskit-lite/widgets/init/assets/js/animate-circle.min9d52.js?ver=3.5.1"
	id="animate-circle-js"></script>
<script id="elementskit-elementor-js-extra">
	var ekit_config = { "ajaxurl": "https:\/\/askit.dextheme.net\/fireguard\/wp-admin\/admin-ajax.php", "nonce": "f5c89c98ad" };
</script>
<script src="../../wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor9d52.js?ver=3.5.1"
	id="elementskit-elementor-js"></script>


 <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script is:inline>
        document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.testimonial-swiper', {
                // Optional parameters
                loop: true,
                slidesPerView: 1,
                spaceBetween: 20,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                effect: 'slide',
                speed: 800,

                // Responsive breakpoints
                breakpoints: {
                    // when window width is >= 640px
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    // when window width is >= 1024px
                    1024: {
                        slidesPerView: 3,
                        spaceBetween: 30
                    }
                },

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // Accessibility
                a11y: {
                    prevSlideMessage: 'Previous testimonial',
                    nextSlideMessage: 'Next testimonial',
                }
            });
        });
    </script>
	




</body>


</html>